@import "./variables";
@import "./mixins";

#mainBtnWhatsapp {
	#btnWhatsapp {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $whatsapp-color;
		width: 90px;
		height: 90px;
		border-radius: 4px;
		position: fixed;
		bottom: 1%;
		right: 1%;
		transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
		opacity: 0;
		visibility: hidden;
		z-index: 1000;
		border-radius: 50%;
		text-decoration: none;

		&:hover {
			cursor: pointer;
			animation: pulse-green 1s infinite;
		}

		&.show {
			opacity: 1;
			visibility: visible;
			font-size: 2rem;
		}

		.fa-whatsapp {
			color: $white;
			font-size: 65px;
		}
	}
}
