* {
	font-family: $font-family;
}

.title--section {

	font-size: 1.7rem;
	color: $dark;

	strong {
		font-size: 1.7rem;
		color: $dark;
	}
}

.bg--gray {
	background-color: $gray-5;
	padding: 1rem;
}

.bg--white {
	background-color: $white;
	padding: 1rem;
}

.bg--divide {
	display: flex;
	flex-direction: row;
	height: 25rem;
	padding: 0rem;
}

.bg--div {
	min-height: 100px;
	width: 50%;
	width: calc(50% + 0rem);
}

.bg--workus {
	clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0% 100%);
	background-image: linear-gradient(to right, $teal-tiny 0%, transparent 80%),
		url('img/voluntario.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 1rem;
	height: 25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.bg--voluntary {
	clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0% 100%);
	background-image: linear-gradient(to left, $teal-tiny 0%, transparent 80%),
		url('img/voluntario.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 1rem;
	height: 25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.bg--dark {
	background-color: $dark;
}

.bg--section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	// background-attachment: fixed;
}

.bg--flex {
	display: flex;
	flex-wrap: wrap;
}

.bg--questions-banner {
	background-image: url('../../../img/questions/dudas.svg');
}

.bg--news-banner {
	background-image: url('../../../img/news/news_2.jpg');
}

.bg--professional-banner {
	background-image: url('../../../img/professionals/profesionales.svg');
}

.bg--about-banner {
	background-image: url('../../../img/about/about_2.jpg');
}

.bg--plan-banner {
	background-image: url('../../../img/plans/planes.svg');
}

.bg--specialist-banner {
	background-image: url('../../../img/specialists/banner_specialist_2.jpg');
}


.support-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@include screen-min(1199px) {
	.support-container {
		flex-direction: column;
	}
}
