* {
	// font-family: $font-family-sans-serif;
	// font-size: $font-size-base;
	// line-height: $line-height-base;
}

.line--separator {
	height: 2px !important;
	background-color: $gray-3 !important;
}

.title--section {
	font-size: 1.7rem;
	color: $dark;
}

.bg--gray {
	background-color: $gray-5;
	padding: 1rem;
}

.bg--white {
	background-color: $white;
	padding: 1rem;
}

.bg--voluntary {
	background-image: linear-gradient(to left, $teal-tiny 20%, transparent 80%),
		url('img/voluntario.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	height: 20rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.bg--dark {
	background-color: $dark;
}

.bg--section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	height: 30rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.bg--work-banner {
	background-image: linear-gradient(to bottom, $white 15%, transparent 80%),
		url('img/work/banner_work_2.jpg');
}

.bg--about-banner {
	background-image: linear-gradient(to bottom, $white 20%, transparent 80%),
		url('img/about/about.jpg');

}
