#mainNews {
	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange-selected;
		}
	}

	.vueperslides__bullet {
		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}

	.card--featurednews {
		padding: 0;
		border-radius: 0.5rem;
		height: 90%;
		width: 85%;
		background-color: #f3f3f3;
		display: flex;
		flex-direction: column;

		/* inicio wave */
		/* primera tarjeta */
		.wave--container--first {
			background-image: url('img/news/wave2.svg');
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: 200rem;
			height: 50%;
			width: 100%;
			z-index: 1;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-end;
			border-radius: 0.5rem;

			#spanDate {
				color: $white;
				padding: 0.5rem 1rem 0rem 1rem;
				font-size: 0.7rem;
				position: absolute;
				top: 54%;
				right: 59%;
			}

			#spanText {
				color: $white;
				padding: 1rem;
				margin: 0rem 0rem -1rem 2rem;
				font-size: 0.7rem;
				position: absolute;
				top: 61%;
				right: -3%;
				width: 100%;
			}

			.span--comment {
				color: $white;
				position: absolute;
				top: 90%;
				right: 88%;
				opacity: 0.6;
				font-size: 0.8rem;
			}

			.span--like {
				color: $white;
				position: absolute;
				top: 90%;
				right: 2%;
				opacity: 0.6;
				font-size: 0.8rem;
			}

			.news--autor {
				color: $white;
				opacity: 0.6;
				font-size: 0.7rem;
				position: absolute;
				top: 82%;
				right: -74%;
				width: 100%;
			}

		}

		/* resto de tarjetas */
		.wave--container--another {
			background-image: url('img/news/wave.svg');
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: 200rem;
			height: 50%;
			width: 100%;
			z-index: 1;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-end;
			border-radius: 0.5rem;

			#spanDate {
				color: $white;
				padding: 0.5rem 1rem 0rem 1rem;
				font-size: 0.7rem;
				position: absolute;
				top: 54%;
				right: 59%;
			}

			#spanText {
				color: $white;
				padding: 1rem;
				margin: 0rem 0rem -1rem 2rem;
				font-size: 0.7rem;
				position: absolute;
				top: 61%;
				right: -3%;
				width: 100%;
			}

			.span--comment {
				color: $white;
				position: absolute;
				top: 90%;
				right: 88%;
				opacity: 0.6;
				font-size: 0.8rem;
			}

			.span--like {
				color: $white;
				position: absolute;
				top: 90%;
				right: 2%;
				opacity: 0.6;
				font-size: 0.8rem;
			}

			.news--autor {
				color: $white;
				opacity: 0.6;
				font-size: 0.7rem;
				position: absolute;
				top: 82%;
				right: -74%;
				width: 100%;
			}

		}

		.img--container {
			height: 50%;
			width: 100%;

			img {
				height: 15rem;
				width: 100%;
			}
		}

		/* fin wave */

		.news--container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 10rem;
			width: auto;
			border-radius: 4px 4px 0px 0px;

			span {
				text-align: center;
				color: $dark;
				font-weight: bold;
				font-size: 70%;
				padding: 0rem 0.2rem;
				margin-bottom: 1rem;
			}
		}

		.border--picnews {
			border-radius: 0.5rem;
			clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 100%);
			/* border-radius: 4px 4px 0px 0px; */
			height: 10rem;
		}

		.seemore--news {
			display: none;
			align-items: center;
			justify-content: center;
			margin-top: -1.5rem;
			position: absolute;
			top: 103%;
			right: 27%;
			z-index: 1;

			button {
				font-size: x-small;
				color: $dark;
				font-weight: bold;
				padding: 0.5rem 1rem 0.5rem 1rem;
				text-transform: uppercase;
				background-color: #f0c828;
				border-radius: 0.5rem;
				border: none;
				z-index: 10;
			}
		}

		&:hover {
			.seemore--news {
				display: flex;
			}
		}
	}

	.seeall--news {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;

		button {
			color: $dark;
			font-weight: bold;
			padding: 0.5rem 1rem 0.5rem 1rem;
			text-transform: uppercase;
			background-color: #f0c828;
			border-radius: 0.5rem;
			border: none;
		}
	}
}

@media only screen and (max-width: 320px) {
	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			.wave--container--first {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.5rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.5rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				display: block;
				right: 15%;
			}
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			margin-left: 1.5rem;

			.wave--container--first {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.6rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.6rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				display: block;
				right: 22%;
			}
		}

		.seeall--news {
			margin-top: 0rem;
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			margin-left: 1.5rem;

			.wave--container--first {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.6rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.6rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				display: block;
				right: 22%;
			}
		}

		.seeall--news {
			margin-top: 0rem;
		}
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			margin-left: 1.5rem;

			.wave--container--first {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.6rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.6rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				display: block;
				right: 22%;
			}
		}

		.seeall--news {
			margin-top: 0rem;
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			margin-left: 1.5rem;

			.wave--container--first {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.6rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
					position: absolute;
					top: 68%;
					right: -7%;
					width: 100%;
				}

				#spanDate {
					font-size: 8px;
					position: absolute;
					top: 61%;
					right: 1%;
					width: 100%;
				}

				.news--autor {
					color: #fff;
					opacity: 0.6;
					font-size: 0.6rem;
					position: absolute;
					top: 82%;
					right: 46%;
					width: 100%;
				}

				.span--comment {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 88%;
					opacity: 0.6;
					font-size: 0.8rem;
				}

				.span--like {
					color: #fff;
					position: absolute;
					top: 92%;
					right: 2%;
					opacity: 0.6;
					font-size: 0.8rem;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				right: 22%;
			}

		}

		.seeall--news {
			margin-top: 0rem;
		}
	}
}
