#mainSocial {
	.float {
		position: fixed;
		width: 40px;
		height: 40px;
		bottom: 15px;
		right: 10px;
		background-color: #25d366;
		color: #FFF;
		border-radius: 50px;
		text-align: center;
		font-size: 25px;
		box-shadow: 2px 2px 3px #999;
		z-index: 100;

		&:hover {
			text-decoration: none;
			color: #25d366;
			background-color: #fff;
		}
	}

}
