@import "./variables";
@import "./mixins";

#mainSocial {
	display: none;
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
	transition: background-color .3s,
		opacity .5s,
		visibility .5s;

	a {
		display: block;
		text-align: center;
		padding: 0.5rem;
		@include transition();
		color: $white;
		font-size: 1.2rem;

		img {
			width: 2rem;
			height: 2rem;
		}


		&:hover {
			background-color: $dark;
		}

	}

	.facebook {
		background: $facebook-color;
		color: $white;
	}

	.linkedin {
		background: $linkedin-color;
		color: $white;
	}

	.instagram {
		background: $instagram-color;
		color: $white;
	}

	.youtube {
		background: $youtube-color;
		color: $white;
	}

	.whatsapp {
		background: $whatsapp-color;
		color: $white;
	}
}
