// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$yellow-1: #f0c828;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$teal-tiny: #5ec6d1;

// Gray Scale
$gray-1: #25262a;
$gray-2: #5c626e;
$gray-3: #c4c7ce;
$gray-4: #edf0f5;
$gray-5: #f5f6fb;

//Text
$dark: #323232;
$orange-selected: #f7941e;

//Card Feature Plans
$card-top: #5ec6d1;
$card-bottom: #606060;
