@import 'variables';

/* General */
.line--separator {
	height: 2px !important;
	background-color: $gray-3 !important;
}

.title--section {
	font-size: 1.7rem;
	color: $dark;
}

.bg--gray {
	background-color: $gray-5;
	padding: 1rem;
}

.bg--white {
	background-color: $white;
	padding: 1rem;
}

.bg--voluntary {
	background-image: linear-gradient(to left, $teal-tiny 20%, transparent 80%),
		url('img/voluntario.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	height: 20rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.bg--dark {
	background-color: $dark;
}

/* Navbar */
#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;

	.navbar-brand {
		max-width: 280px;
		width: 100%;
		color: $white;

		.logo {
			min-width: 25%;
			max-width: 100%;
			width: 100%;
		}
	}

	.navbar-nav {
		margin-top: 1rem;
		align-items: center;

		.nav-item {
			.nav-link {
				font-size: 70%;
				color: $dark;

				&:hover {
					color: $orange-selected;
				}

				&:active,
				&:focus {
					color: $dark;
				}

				&.active {
					color: $orange-selected;
				}
			}

			.login--link {
				display: flex;
				text-decoration: none;


				img {
					max-width: 2rem;
					margin-right: 1rem;
				}

				span {
					color: $dark;
					font-size: 70%;
				}

				&:hover {
					span {
						color: $orange-selected;
					}
				}
			}
		}

		.vertical {
			border-left: 2px solid $gray-3;
			height: 3rem;
			margin: 0rem 1rem;
		}

	}

	.hamburger {
		font-size: 70%;
		padding: 0;

		&:focus {
			outline: none;
		}

		&:hover {
			opacity: unset;
		}

		.hamburger-inner {
			background-color: $dark;

			&::before,
			&::after {
				background-color: $dark;

			}
		}
	}
}

/* Third steps */
#mainSteps {

	.step--container-button {
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			color: $dark;
			font-weight: bold;
			padding: 0.5rem 1rem 0.5rem 1rem;
			text-transform: uppercase;
			background-color: #f0c828;
			border-radius: 0.5rem;
			border: none;
		}
	}

	.step--container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 4rem;

		img {
			margin-bottom: 1rem;
		}

		span {
			font-size: 80%;
			color: $dark;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		p {
			font-size: 80%;
			color: $dark;
			text-align: center;
		}
	}

	.step--line {
		&::before {
			content: "";
			background: $gray-3;
			display: block;
			position: absolute;
			top: 45%;
			left: 70%;
			width: 60%;
			height: 4px;
		}
	}

	.title--three-steps {
		text-align: center;

		span {
			font-weight: bold;
			font-size: 100%;
			color: $dark;
		}
	}

	.mobile--steps {
		display: none;
	}
}

/* Specialist */
#mainSpecialist {
	.cards--container {
		display: flex;
		flex-direction: column;

		.card--specialist {
			width: 100%;
			height: 6rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 1rem;
			border-radius: 0.2rem;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			.specialist {
				text-align: right;
				font-size: 100%;
				font-weight: bold;
				color: $dark;
				padding: 0 1rem;
				border-radius: 0.5rem;
				max-width: 55%;
				width: auto;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				opacity: inherit;
				flex-direction: column;

				.title--psicologia {
					font-size: xx-large;
					font-weight: bold;
				}

				.btn--specialist {
					margin-top: 0.5rem;
					padding: 0.7rem;
					text-transform: uppercase;
					font-weight: bold;
					color: $dark;
					background-color: $yellow-1;
					border-radius: 0.5rem;

					&:hover {
						background-color: $yellow;
					}
				}
			}
		}

		.card--specialist-max {
			width: 100%;
			height: 20rem;
			margin-bottom: 1rem;
		}
	}
}

/* Prevision */
#mainPrevision {
	.card--prevision {
		margin: 1rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $gray-5;

		img {
			width: 70%;
			height: auto;
		}
	}

	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange-selected;
		}
	}

	.vueperslides__bullet {
		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}
}

/* Frequently questions */
#mainQuestions {
	.vueperslides__parallax-wrapper {
		padding: 3rem;
	}

	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange-selected;
		}
	}

	.vueperslides__bullet {
		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}

	.card--question {
		margin: 1rem;
		max-height: 10rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.first-card-faq {
		background: $teal-tiny;
		background-image: url("img/faq_interrogacion_primera_pregunta.svg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		.description {
			color: $white;
			font-weight: bold;
			font-size: 100%;
			text-align: center;
		}

		.comments {
			color: $white;
			position: absolute;
			top: 85%;
			right: 2%;
			opacity: 50%;
		}
	}

	.another-card-faq {
		background: $white;

		span {
			color: $dark;
			font-weight: bold;
			font-size: 80%;
			text-align: center;
		}

		.comments {
			color: $dark;
			position: absolute;
			top: 85%;
			right: 2%;
			opacity: 50%;
		}
	}

	.seemore--questions {
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			color: $dark;
			font-weight: bold;
			padding: 0.5rem 1rem 0.5rem 1rem;
			text-transform: uppercase;
			background-color: #f0c828;
			border-radius: 0.5rem;
			border: none;
		}
	}
}

/* Featured plans */
#mainPlans {
	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange-selected;
		}
	}

	.vueperslides__bullet {
		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}

	.vueperslides__parallax-wrapper {
		padding: 3rem;
	}

	.card--featuredplans {
		padding: 0;
		border-radius: 0.5rem;
		height: 100px;
		width: 98%;

		.price--container {
			background: $card-top;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			span {
				color: $white;
			}

			.text--price {
				font-weight: bold;
				font-size: x-large;
			}

			.text--cantsessions {
				font-size: x-large;
			}

			.text--promotion {
				color: $white;
				font-size: 65%;
				font-style: oblique;
				font-weight: bold;
				background-color: $orange-selected;
				padding: 0.3rem;
				border-radius: 0.5rem;
				margin-top: 0.2rem;
				text-align: right;
				position: absolute;
				top: 0%;
				right: 1%;
			}
		}

		.description--container {
			background: $card-bottom;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0rem 2rem;

			span {
				font-size: 100%;
				color: $white;
				text-align: center;
			}

		}
	}
}

/* Featured professionals */
#mainProfessionals {

	.vueperslides__parallax-wrapper {
		padding: 7rem;
	}

	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange-selected;
		}
	}

	.vueperslides__bullet {
		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}

	.circulo--flotante {
		padding: 1rem 1.5rem;
	}

	.card--featuredprofessionals {
		padding: 0;
		border-radius: 0.5rem;
		height: 200px;
		width: 85%;
		background-color: #f3f3f3;

		/* Circulo oferta carousel Profesionales destacados */
		.circulo--professionals {
			height: 28%;
			width: 41%;
			background-color: $card-top;
			border-radius: 50%;

			display: inline-block;

			position: absolute;
			z-index: 1;
			top: -7%;
			right: 68%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem;

			box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.3);

			span {
				font-size: 65%;
				color: $white !important;
				font-family: unset;
				transform: rotate(-20deg);
				text-align: center;
			}
		}

		.professionals--container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 10rem;
			width: auto;
			border-radius: 4px 4px 0px 0px;

			span {
				text-align: center;
				color: $dark;
				font-weight: bold;
				font-size: 70%;
				padding: 0rem 0.2rem;
				margin-bottom: 1rem;
			}
		}

		.border--picprofessional {
			border-radius: 0.5rem;
			clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 100%);
			border-radius: 4px 4px 0px 0px;
		}

		.seemore--professionals {
			display: none;
			align-items: center;
			justify-content: center;
			margin-top: 0.5rem;

			button {
				font-size: x-small;
				color: $dark;
				font-weight: bold;
				padding: 0.5rem 1rem 0.5rem 1rem;
				text-transform: uppercase;
				background-color: #f0c828;
				border-radius: 0.5rem;
				border: none;
			}
		}

		&:hover {
			.seemore--professionals {
				display: flex;
			}
		}
	}
}

/* Voluntary */
#mainVoluntary {

	.voluntary--container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		span {
			font-size: xx-large;
			color: $white;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		button {
			background-color: $yellow-1;
			color: $dark;
			padding: 0.5rem 1rem;
			text-transform: uppercase;
			border: none;
			border-radius: 0.5rem;
			width: 11rem;
			font-weight: bold;
		}
	}

}

/* Footer */
#mainFooter {
	.navigation--container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		a {
			color: $dark;
			text-decoration: none;
		}
	}

	.contact--container {
		display: flex;
		flex-direction: column;

		.social {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			a {
				margin: 0 0.5rem;

				img {
					width: 2rem;
				}
			}
		}
	}

	.payment--container {
		display: flex;
		flex-direction: column;

		.payment {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;

			.payment--method {
				display: flex;
				flex-direction: column;

				span {
					margin-bottom: 1rem;
				}

				img {
					width: 8rem;
				}
			}
		}
	}
}

/* Copyright */
#mainCopyright {
	.copyright--container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}

/* News */
#mainNews {
	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange-selected;
		}
	}

	.vueperslides__bullet {
		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}

	.card--featurednews {
		padding: 0;
		border-radius: 0.5rem;
		height: 90%;
		width: 85%;
		background-color: #f3f3f3;
		display: flex;
		flex-direction: column;

		/* inicio wave */
		/* primera tarjeta */
		.wave--container--first {
			background-image: url('img/news/wave2.svg');
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: 200rem;
			height: 50%;
			width: 100%;
			z-index: 1;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-end;
			border-radius: 0.5rem;

			#spanDate {
				color: $white;
				padding: 0.5rem 1rem;
			}

			#spanText {
				color: $white;
				padding: 1rem;
				margin: 0rem 0rem 1rem 2rem;
			}

			.commentsandlikes {
				color: $white;
				padding: 0rem 0rem 0rem 13rem;
			}

		}

		/* resto de tarjetas */
		.wave--container--another {
			background-image: url('img/news/wave.svg');
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: 200rem;
			height: 50%;
			width: 100%;
			z-index: 1;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-end;
			border-radius: 0.5rem;

			#spanDate {
				color: $white;
				padding: 0.5rem 1rem;
			}

			#spanText {
				color: $white;
				padding: 1rem;
				margin: 0rem 0rem 1rem 2rem;
			}

			.commentsandlikes {
				color: $white;
				padding: 0rem 0rem 0rem 13rem;
			}

		}

		.img--container {
			height: 50%;
			width: 100%;

			img {
				height: 15rem;
				width: 100%;
			}
		}

		/* fin wave */

		.news--container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 10rem;
			width: auto;
			border-radius: 4px 4px 0px 0px;

			span {
				text-align: center;
				color: $dark;
				font-weight: bold;
				font-size: 70%;
				padding: 0rem 0.2rem;
				margin-bottom: 1rem;
			}
		}

		.border--picnews {
			border-radius: 0.5rem;
			clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 100%);
			/* border-radius: 4px 4px 0px 0px; */
			height: 10rem;
		}

		.seemore--news {
			display: none;
			align-items: center;
			justify-content: center;
			margin-top: -1.5rem;
			position: absolute;
			top: 103%;
			right: 27%;
			z-index: 1;

			button {
				font-size: x-small;
				color: $dark;
				font-weight: bold;
				padding: 0.5rem 1rem 0.5rem 1rem;
				text-transform: uppercase;
				background-color: #f0c828;
				border-radius: 0.5rem;
				border: none;
				z-index: 10;
			}
		}

		&:hover {
			.seemore--news {
				display: flex;
			}
		}
	}

	.seeall--news {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;

		button {
			color: $dark;
			font-weight: bold;
			padding: 0.5rem 1rem 0.5rem 1rem;
			text-transform: uppercase;
			background-color: #f0c828;
			border-radius: 0.5rem;
			border: none;
		}
	}
}

#mainSocial {
	.float {
		position: fixed;
		width: 60px;
		height: 60px;
		bottom: 40px;
		right: 40px;
		background-color: #25d366;
		color: #FFF;
		border-radius: 50px;
		text-align: center;
		font-size: 30px;
		box-shadow: 2px 2px 3px #999;
		z-index: 100;

		&:hover {
			text-decoration: none;
			color: #25d366;
			background-color: #fff;
		}

		.my-float {
			margin-top: 16px;
		}
	}

}

/* Media Queries */
@media only screen and (max-width: 320px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}
		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}

	#mainPlans {

		.desktop--plans {
			display: none;
		}

		.mobile--plans {
			display: block;

			.price--container {
				.text--price {
					font-weight: bold;
					font-size: large;
				}

				.text--cantsessions {
					font-size: medium;
				}
			}

			.description--container {
				span {
					text-overflow: ellipsis;
					font-size: 80%;
				}
			}
		}
	}

	#mainSpecialist {
		.cards--container {
			.card--specialist {
				.specialist {
					.title--psicologia {
						font-size: large;
					}

					.btn--specialist {
						font-size: 70%;
					}
				}
			}
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: x-large;
			}
		}
	}

	#mainCopyright {
		.copyright--container {
			justify-content: center;

			small {
				margin-bottom: 1rem;
			}

		}
	}

	#mainProfessionals {
		.vueperslides__parallax-wrapper {
			padding: 7rem;
		}

		.card--featuredprofessionals {
			width: 70%;
			margin-left: 15% !important;

			.seemore--professionals {
				display: block;
			}
		}
	}

	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			.wave--container--first {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
				}

				#spanDate {
					font-size: 8px;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
				}

				#spanDate {
					font-size: 8px;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				display: block;
				right: 15%;
			}
		}
	}

}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}

	#mainPlans {
		.desktop--plans {
			display: none;
		}

		.mobile--plans {
			display: block;
		}
	}

	#mainSpecialist {
		.cards--container {
			.card--specialist {
				.specialist {
					.title--psicologia {
						font-size: large;
					}

					.btn--specialist {
						font-size: 70%;
					}
				}
			}
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: x-large;
			}
		}
	}

	#mainCopyright {
		.copyright--container {
			justify-content: center;

			small {
				margin-bottom: 1rem;
			}

		}
	}

	#mainProfessionals {
		.vueperslides__parallax-wrapper {
			padding: 7rem;
		}

		.card--featuredprofessionals {
			width: 60%;
			margin-left: 20% !important;

			.seemore--professionals {
				display: block;
			}

			.professionals--container {
				span {
					margin-bottom: 0rem;
				}
			}
		}
	}

	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			margin-left: 1.5rem;

			.wave--container--first {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
				}

				#spanDate {
					font-size: 8px;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 1rem 3rem;
				}

				#spanDate {
					font-size: 8px;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				display: block;
				right: 22%;
			}
		}

		.seeall--news {
			margin-top: 0rem;
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}
		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}

	#mainPlans {
		.desktop--plans {
			display: none;
		}

		.mobile--plans {
			display: block;
		}
	}

	#mainSpecialist {
		.cards--container {
			.card--specialist {
				.specialist {
					.title--psicologia {
						font-size: large;
					}

					.btn--specialist {
						font-size: 70%;
					}
				}
			}
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: x-large;
			}
		}
	}

	#mainCopyright {
		.copyright--container {
			justify-content: center;

			small {
				margin-bottom: 1rem;
			}

		}
	}

	#mainProfessionals {

		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.circulo--flotante {
			padding: 1rem 0.5rem;
		}

		.card--featuredprofessionals {
			width: 100%;

			.professionals--container {
				span {
					margin-bottom: 0rem;
				}
			}

			.seemore--professionals {
				display: block;
			}
		}
	}

	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			margin-left: 1.5rem;

			.wave--container--first {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 2rem 5rem;
				}

				#spanDate {
					font-size: 8px;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 9px;
					padding: 1rem;
					margin: 0rem 0rem 2rem 5rem;
				}

				#spanDate {
					font-size: 8px;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				display: block;
				right: 22%;
			}
		}

		.seeall--news {
			margin-top: 0rem;
		}
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 80%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}

	#mainPlans {
		.desktop--plans {
			display: none;
		}

		.mobile--plans {
			display: block;
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: x-large;
			}
		}
	}

	#mainProfessionals {

		.vueperslides__parallax-wrapper {
			padding: 8rem;
		}

		.circulo--flotante {
			padding: 1rem 1.5rem;
		}

		.card--featuredprofessionals {
			width: 70%;

			.professionals--container {
				span {
					margin-bottom: 0rem;
					margin-top: 1rem;
				}
			}

			.seemore--professionals {
				display: block;
			}
		}
	}

	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			margin-left: 1.5rem;

			.wave--container--first {
				#spanText {
					font-size: 80%;
					padding: 1rem;
					margin: 0rem 0rem 2rem 3rem;
				}

				#spanDate {
					font-size: 80%;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 80%;
					padding: 1rem;
					margin: 0rem 0rem 2rem 3rem;
				}

				#spanDate {
					font-size: 80%;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				display: block;
				right: 22%;
			}
		}

		.seeall--news {
			margin-top: 0rem;
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 80%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}

	#mainPlans {
		.desktop--plans {
			display: none;
		}

		.mobile--plans {
			display: block;
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}

	#mainProfessionals {
		.card--featuredprofessionals {
			.professionals--container {
				span {
					margin-bottom: 0rem;
				}
			}
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	#mainNav {
		.navbar-brand {
			max-width: 180px;
			width: 100%;

			.logo {
				min-width: 25%;
				max-width: 100%;
				width: 100%;
			}
		}

		.navbar-nav {
			margin-top: 1rem;
			align-items: center;

			.nav-item {
				.nav-link {
					padding-left: unset !important;
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: large;
			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: block;
		}

		.mobile--prevision {
			display: none;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: block;
		}

		.mobile--questions {
			display: none;
		}

		.card--question {
			margin: 1rem;
		}
	}

	#mainPlans {
		.desktop--plans {
			display: block;
		}

		.mobile--plans {
			display: none;
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}

	#mainProfessionals {
		.card--featuredprofessionals {
			.professionals--container {
				span {
					margin-bottom: 0rem;
				}
			}
		}
	}

	#mainNews {
		.vueperslides__parallax-wrapper {
			padding: 9rem;
		}

		.card--featurednews {
			margin-left: 1.5rem;

			.wave--container--first {
				#spanText {
					font-size: 80%;
					padding: 1rem;
					margin: 0rem 0rem 1rem 2rem;
				}

				#spanDate {
					font-size: 80%;
				}
			}

			.wave--container--another {
				#spanText {
					font-size: 80%;
					padding: 1rem;
					margin: 0rem 0rem 1rem 2rem;
				}

				#spanDate {
					font-size: 80%;
				}
			}

			.img--container {
				height: 62%;
			}

			.seemore--news {
				right: 22%;
			}

		}

		.seeall--news {
			margin-top: 0rem;
		}
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: x-large;
			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: block;
		}

		.mobile--prevision {
			display: none;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: block;
		}

		.mobile--questions {
			display: none;
		}

		.card--question {
			margin: 1rem;
		}
	}

	#mainPlans {
		.desktop--plans {
			display: block;
		}

		.mobile--plans {
			display: none;
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}

	#mainProfessionals {
		.card--featuredprofessionals {
			width: 70%;

			.professionals--container {
				span {
					margin-bottom: 0rem;
				}
			}
		}
	}
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: x-large;
			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: block;
		}

		.mobile--prevision {
			display: none;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: block;
		}

		.mobile--questions {
			display: none;
		}

		.card--question {
			margin: 1rem;
		}
	}

	#mainPlans {
		.desktop--plans {
			display: block;
		}

		.mobile--plans {
			display: none;
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: xx-large;
			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: block;
		}

		.mobile--prevision {
			display: none;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: block;
		}

		.mobile--questions {
			display: none;
		}

		.card--question {
			margin: 1rem;
		}
	}

	#mainPlans {
		.desktop--plans {
			display: block;
		}

		.mobile--plans {
			display: none;
		}
	}

	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}
}
