@import 'variables';

/* General */
.line--separator {
	height: 2px !important;
	background-color: $gray-3 !important;
}

.title--section {
	font-size: 1.7rem;
	color: $dark;
}

.bg--gray {
	background-color: $gray-5;
	padding: 1rem;
}

.bg--white {
	background-color: $white;
	padding: 1rem;
}

/* Navbar */
#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;

	.navbar-brand {
		max-width: 280px;
		width: 100%;
		color: $white;

		.logo {
			min-width: 25%;
			max-width: 100%;
			width: 100%;
		}
	}

	.navbar-nav {
		margin-top: 1rem;
		align-items: center;

		.nav-item {
			.nav-link {
				font-size: 70%;
				color: $dark;

				&:hover {
					color: $orange-selected;
				}

				&:active,
				&:focus {
					color: $dark;
				}

				&.active {
					color: $orange-selected;
				}
			}

			.login--link {
				display: flex;
				text-decoration: none;


				img {
					max-width: 2rem;
					margin-right: 1rem;
				}

				span {
					color: $dark;
					font-size: 70%;
				}

				&:hover {
					span {
						color: $orange-selected;
					}
				}
			}
		}

		.vertical {
			border-left: 2px solid $gray-3;
			height: 3rem;
			margin: 0rem 1rem;
		}

	}

	.hamburger {
		font-size: 70%;
		padding: 0;

		&:focus {
			outline: none;
		}

		&:hover {
			opacity: unset;
		}

		.hamburger-inner {
			background-color: $dark;

			&::before,
			&::after {
				background-color: $dark;

			}
		}
	}
}

/* Third steps */
#mainSteps {

	.step--container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 4rem;

		img {
			margin-bottom: 1rem;
		}

		span {
			font-size: 80%;
			color: $dark;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		p {
			font-size: 80%;
			color: $dark;
			text-align: center;
		}
	}

	.step--line {
		&::before {
			content: "";
			background: $gray-3;
			display: block;
			position: absolute;
			top: 45%;
			left: 70%;
			width: 60%;
			height: 4px;
		}
	}

	.title--three-steps {
		text-align: center;

		span {
			font-weight: bold;
			font-size: 100%;
			color: $dark;
		}
	}

	.mobile--steps {
		display: none;
	}
}

/* Specialist */
.cards--container {
	display: flex;
	flex-direction: column;

	.card--specialist {
		width: 100%;
		height: 6rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 1rem;
		border-radius: 0.2rem;
		box-shadow: 0 8px 17px 2px rgba(0, 0, 0, .14),
			0 3px 14px 2px rgba(0, 0, 0, .12),
			0 5px 5px -3px rgba(0, 0, 0, .2);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		.specialist {
			text-align: right;
			font-size: 100%;
			font-weight: bold;
			color: $dark;
			padding: 0 1rem;
			border-radius: 0.5rem;
			max-width: 55%;
			width: auto;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			opacity: inherit;
			flex-direction: column;

			.title--psicologia {
				font-size: xx-large;
				font-weight: bold;
			}

			.btn--specialist {
				margin-top: 0.5rem;
				padding: 0.7rem;
				text-transform: uppercase;
				font-weight: bold;
				color: $dark;
				background-color: $yellow-1;
				border-radius: 0.5rem;

				&:hover {
					background-color: $yellow;
				}
			}
		}
	}

	.card--specialist-max {
		width: 100%;
		height: 20rem;
		margin-bottom: 1rem;
	}
}

/* Prevision */
#mainPrevision {
	.desktop--prevision {
		display: block;
	}

	.mobile--prevision {
		display: none;
	}

	.card--prevision {
		margin: 1rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $gray-5;

		img {
			width: 70%;
			height: auto;
		}
	}

	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange-selected;
		}
	}

	.vueperslides__bullet {
		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}
}

/* Frequently questions */
#mainQuestions {
	.desktop--questions {
		display: block;
	}

	.mobile--questions {
		display: none;
	}

	.card--question {
		margin: 1rem;
		max-height: 10rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.first-card-faq {
		background: $teal-tiny;
		background-image: url("img/faq_interrogacion_primera_pregunta.svg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		span {
			color: $white;
			font-weight: bold;
			font-size: 100%;
			text-align: center;
		}
	}

	.another-card-faq {
		background: $white;

		span {
			color: $dark;
			font-weight: bold;
			font-size: 80%;
			text-align: center;
		}
	}

	.seemore--questions {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;

		button {
			color: $dark;
			font-weight: bold;
			padding: 0.5rem 1rem 0.5rem 1rem;
			text-transform: uppercase;
			background-color: #f0c828;
			border-radius: 0.5rem;
			border: none;
		}
	}
}


/* Media Queries */
@media only screen and (max-width: 320px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}
		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}
		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 80%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 80%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: none;
		}

		.mobile--prevision {
			display: block;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: none;
		}

		.mobile--questions {
			display: block;
		}

		.card--question {
			margin: 0rem;
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	#mainNav {
		.navbar-brand {
			max-width: 180px;
			width: 100%;

			.logo {
				min-width: 25%;
				max-width: 100%;
				width: 100%;
			}
		}

		.navbar-nav {
			margin-top: 1rem;
			align-items: center;

			.nav-item {
				.nav-link {
					padding-left: unset !important;
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: large;
			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: block;
		}

		.mobile--prevision {
			display: none;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: block;
		}

		.mobile--questions {
			display: none;
		}

		.card--question {
			margin: 1rem;
		}
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: x-large;
			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: block;
		}

		.mobile--prevision {
			display: none;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: block;
		}

		.mobile--questions {
			display: none;
		}

		.card--question {
			margin: 1rem;
		}
	}

}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: x-large;
			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: block;
		}

		.mobile--prevision {
			display: none;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: block;
		}

		.mobile--questions {
			display: none;
		}

		.card--question {
			margin: 1rem;
		}
	}

}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: xx-large;
			}
		}
	}

	#mainPrevision {
		.desktop--prevision {
			display: block;
		}

		.mobile--prevision {
			display: none;
		}
	}

	#mainQuestions {
		.desktop--questions {
			display: block;
		}

		.mobile--questions {
			display: none;
		}

		.card--question {
			margin: 1rem;
		}
	}
}















/* Bootstrap Lightbox using Modal */

#profile-grid {
	overflow: auto;
	white-space: normal;

	.profile {
		padding-bottom: 40px;
	}

	.panel {
		padding: 0;
	}

	.panel-body {
		padding: 15px;
	}

	.profile-name {
		font-weight: bold;
	}

	.thumbnail {
		margin-bottom: 6px;
	}

	.panel-thumbnail {
		overflow: hidden;
	}

	.img-rounded {
		border-radius: 4px 4px 0 0;
	}
}

/* FIN ESTILO PREGUNTAS FRECUENTES */







/* Estilo Featured Plans */
.card--featuredplans {
	padding: 0;
	border-radius: 0.5rem;

	/* Circulo oferta carousel Planes destacados */
	.circulo {
		height: 65%;
		width: 25%;
		background-color: $orange-selected;
		border-radius: 50%;

		display: inline-block;

		position: absolute;
		z-index: 1;
		top: 0%;
		right: -2%;
		display: flex;
		align-items: center;
		justify-content: center;

		box-shadow: 3px 1px 7px 3px rgba(0, 0, 0, 0.75);

		span {
			font-size: 65%;
			color: $dark !important;
			font-weight: bold;
			font-family: unset;
		}
	}

	.price--container {
		background: $card-top;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		span {
			color: $white;
		}

		.text--price {
			font-weight: bold;
			font-size: 150%;
			font-family: cursive;
		}

		.text--cantsessions {
			font-size: 129%;
			font-family: cursive;
		}
	}

	.description--container {
		background: $card-bottom;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: cursive;

		span {
			font-size: 115%;
			color: $white;
			text-align: center;
			padding: 0rem 2rem;
		}

	}
}

.carousel--featuredplans {
	height: 100px;
	width: 90%;
}
