@import 'variables';

/* Navbar */
#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;

	.navbar-brand {
		max-width: 280px;
		width: 100%;
		color: $white;

		.logo {
			min-width: 25%;
			max-width: 100%;
			width: 100%;
		}
	}

	.navbar-nav {
		margin-top: 1rem;
		align-items: center;

		.nav-item {
			.nav-link {
				font-size: 70%;
				color: $dark;

				&:hover {
					color: $orange-selected;
				}

				&:active,
				&:focus {
					color: $dark;
				}

				&.active {
					color: $orange-selected;
				}
			}

			.login--link {
				display: flex;
				text-decoration: none;


				img {
					max-width: 2rem;
					margin-right: 1rem;
				}

				span {
					color: $dark;
					font-size: 70%;
				}

				&:hover {
					span {
						color: $orange-selected;
					}
				}
			}
		}

		.vertical {
			border-left: 2px solid $gray-3;
			height: 3rem;
			margin: 0rem 1rem;
		}

	}

	.hamburger {
		font-size: 70%;
		padding: 0;

		&:focus {
			outline: none;
		}

		&:hover {
			opacity: unset;
		}

		.hamburger-inner {
			background-color: $dark;

			&::before,
			&::after {
				background-color: $dark;

			}
		}
	}
}

/* Third steps */
#mainSteps {

	.step--container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 4rem;

		img {
			margin-bottom: 1rem;
		}

		span {
			font-size: 80%;
			color: $dark;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		p {
			font-size: 80%;
			color: $dark;
			text-align: center;
		}
	}

	.step--line {
		&::before {
			content: "";
			background: $gray-3;
			display: block;
			position: absolute;
			top: 45%;
			left: 70%;
			width: 60%;
			height: 4px;
		}
	}

	.title--three-steps {
		text-align: center;

		span {
			font-weight: bold;
			font-size: 100%;
			color: $dark;
		}
	}

	.mobile--steps {
		display: none;
	}
}

/* Specialist */
.cards--container {
	display: flex;
	flex-direction: column;

	.card--specialist {
		width: 100%;
		height: 6rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 1rem;
		border-radius: 0.2rem;
		box-shadow: 0 8px 17px 2px rgba(0, 0, 0, .14),
			0 3px 14px 2px rgba(0, 0, 0, .12),
			0 5px 5px -3px rgba(0, 0, 0, .2);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		.specialist {
			text-align: right;
			font-size: 100%;
			font-weight: bold;
			color: $dark;
			padding: 0 1rem;
			border-radius: 0.5rem;
			max-width: 55%;
			width: auto;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			opacity: inherit;
			flex-direction: column;

			.title--psicologia {
				font-size: xx-large;
				font-weight: bold;
			}

			.btn--specialist {
				margin-top: 0.5rem;
				padding: 0.7rem;
				text-transform: uppercase;
				font-weight: bold;
				color: $dark;
				background-color: $yellow-1;
				border-radius: 0.5rem;

				&:hover {
					background-color: $yellow;
				}
			}
		}
	}

	.card--specialist-max {
		width: 100%;
		height: 20rem;
		margin-bottom: 1rem;
	}
}

/* Media Queries */
@media only screen and (max-width: 320px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}
		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 70%;
			}
		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 80%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
			width: 100%;

			.logo {
				max-width: 80%;
			}

		}

		.navbar-nav {
			.nav-item {
				.login--link {
					display: flex;
					text-decoration: none;
					background-color: $orange-selected;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
						0 3px 14px 2px rgba(0, 0, 0, 0.12),
						0 5px 5px -3px rgba(0, 0, 0, 0.2);

					img {
						display: none;
					}
				}
			}

			.vertical {
				display: none;
			}

		}

		.navbar-toggler {
			font-size: 100%;

			&:active,
			&:focus {
				border: none;
			}

			.fa-bars {
				color: $dark;
				font-size: xx-large;
			}
		}
	}

	#mainSteps {
		.step--line {
			&::before {
				display: none;
			}
		}

		.desktop--steps {
			display: none;
		}

		.mobile--steps {
			display: block;
		}


		.vueperslides__parallax-wrapper {
			&::before {
				content: none;
			}

			&::after {
				content: none;
			}
		}

		.vueperslides__bullet {
			&:focus {
				outline: none;
			}

			.default {
				background-color: rgba(0, 0, 0, 0.3);
				border: none;
				box-shadow: none;
				transition: 0.3s;
				width: 16px;
				height: 16px;



			}
		}

		.vueperslides__bullet--active {
			.default {
				background-color: $orange-selected;
			}
		}

		.vueperslides__bullet {
			span {
				display: block;
				color: #fff;
				font-size: 10px;
				opacity: 0.8;


			}
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	#mainNav {
		.navbar-brand {
			max-width: 180px;
			width: 100%;

			.logo {
				min-width: 25%;
				max-width: 100%;
				width: 100%;
			}
		}

		.navbar-nav {
			margin-top: 1rem;
			align-items: center;

			.nav-item {
				.nav-link {
					padding-left: unset !important;
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: large;
			}
		}
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: x-large;
			}
		}
	}

}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
	#mainNav {
		.navbar-brand {
			max-width: 210px;
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					font-size: 70%;
				}

				.login--link {
					span {
						font-size: 70%;
					}
				}
			}
		}

		.hamburger {
			display: none;
		}
	}

	#mainSteps {
		.title--three-steps {
			span {
				font-size: xx-large;
			}
		}
	}

}















/* Bootstrap Lightbox using Modal */

#profile-grid {
	overflow: auto;
	white-space: normal;

	.profile {
		padding-bottom: 40px;
	}

	.panel {
		padding: 0;
	}

	.panel-body {
		padding: 15px;
	}

	.profile-name {
		font-weight: bold;
	}

	.thumbnail {
		margin-bottom: 6px;
	}

	.panel-thumbnail {
		overflow: hidden;
	}

	.img-rounded {
		border-radius: 4px 4px 0 0;
	}
}

/* Tanaño imagenes carousel prevision height: 95px */
.carousel--prevision {
	height: 140px;
}

/* PREGUNTAS FRECUENTES */

/* botón "ver todas las consultas" */
.seemore--questions {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;

	button {
		color: $dark;
		font-weight: bold;
		padding: 0.5rem 1rem 0.5rem 1rem;
		text-transform: uppercase;
	}
}

.underline--verconsultas {
	border-bottom: 2px solid currentColor;
	/* position: absolute; */
}

.texto--verconsultas {
	text-align: left;
}

/* Estilo tarjeta primera pregunta frecuente */
.first-card-faq {
	background: $teal-tiny;
	margin: 1rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 55%;
		height: auto;
	}
}

/* Texto sobre imagen primera pregunta frecuente 1 */
/* TODO: Cambiar nombre a la clase */
.contenedor33 {
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Texto sobre imagen primera pregunta frecuente 2 */
/* TODO: Cambiar nombre a la clase */
.texto-encima33 {
	position: absolute;
	top: 36%;
	left: 0%;
	width: 100%;
	color: $gray-4;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
}

/* Texto sobre imagen primera pregunta frecuente 3 */
/* TODO: Cambiar nombre a la clase */
.centrado33 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Estilo flechitas carusel */
/* .carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none !important;
  color: red !important;
  font-size: 20px;
} */

/* .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='2 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='-1 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
} */


/* FIN ESTILO PREGUNTAS FRECUENTES */

.line--separator {
	height: 2px !important;
	background-color: $gray-3 !important;
}

.title--section {
	font-size: 1.7rem;
	color: $dark;
}



.card-prevision {
	margin: 1rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $gray-5;

	img {
		width: 70%;
		height: auto;
	}
}


/* Estilo Prevision */
/* TODO: Cambiar nombre a la clase */
.texto-encima44 {
	position: absolute;
	top: 36%;
	left: 0%;
	width: 100%;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
}

/* Estilo Featured Plans */
/* TODO: Cambiar nombre a la clase */
.texto-encima55 {
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	color: $dark;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
}

.card-featuredplans {
	margin: 1rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 60%;
		height: auto;
	}
}

.carousel--featuredplans {
	height: 140px;
}
