@import "../../variables";
@import "../../mixins";

.list-news--header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	select {
		width: 25%;
	}
}

.paginated--list {
	padding: 0rem !important;
}

.list-news--container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.newsList {
	justify-content: center;

	li {
		background-color: $gray-4;
		color: $dark;
		padding: 1rem;

		a {
			cursor: pointer;
		}

		&.active {
			background-color: $blue;
			color: $white;
			font-weight: bold;
		}
	}
}


@include screen-min(425px) {
	.list-news--container {
		flex-direction: column;
	}

	.list-news--header {
		select {
			width: 100%;
		}
	}
}


@include screen(426px, 768px) {
	.list-news--container {
		flex-direction: column;
	}

	.list-news--header {
		select {
			width: 50%;
		}
	}
}
