@import "../../variables";
@import "../../mixins";

#mainNews {
	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__parallax-wrapper {
		padding-bottom: 35% !important;
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange;
		}
	}

	.vueperslides__bullet {
		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}

	.seeall--news {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;

		a {
			color: $dark;
			font-weight: bold;
			padding: 0.5rem 1rem 0.5rem 1rem;
			text-transform: uppercase;
			background-color: #f0c828;
			border-radius: 0.5rem;
			border: none;
			text-decoration: none;
		}
	}
}

@include screen-min(991px) {
	#mainNews {
		.vueperslides__parallax-wrapper {
			padding-bottom: 50% !important;
		}
	}
}
