@import "../../variables";
@import "../../mixins";

#mainPrevision {
	.card--prevision {
		margin: 1rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $gray-5;

		a {
			text-align: center;

			img {
				width: 70%;
				height: auto;
			}
		}
	}

	.vueperslides__bullet {
		&:focus {
			outline: none;
		}

		.default {
			background-color: rgba(0, 0, 0, 0.3);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 16px;
			height: 16px;
		}
	}

	.vueperslides__bullet--active {
		.default {
			background-color: $orange;
		}
	}

	.vueperslides__bullet {
		margin: 1em 0.5em !important;

		span {
			display: block;
			color: #fff;
			font-size: 10px;
			opacity: 0.8;
		}
	}
}
