@import "../../variables";
@import "../../mixins";

#mainSpecialist {
	.cards--container {
		display: flex;
		flex-direction: column;

		.card--specialist {
			width: 100%;
			height: 6rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 1rem;
			border-radius: 0.2rem;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			.specialist {
				text-align: right;
				font-size: 100%;
				font-weight: bold;
				color: $dark;
				padding: 0 1rem;
				border-radius: 0.5rem;
				max-width: 55%;
				width: auto;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				opacity: inherit;
				flex-direction: column;

				.title--psicologia {
					font-size: xx-large;
					font-weight: bold;
				}

				.btn--specialist {
					margin-top: 0.5rem;
					padding: 0.7rem;
					text-transform: uppercase;
					font-weight: bold;
					color: $dark;
					background-color: $dark-yellow;
					border-radius: 0.5rem;

					&:hover {
						background-color: $yellow;
					}
				}
			}
		}

		.card--specialist-max {
			width: 100%;
			height: 20rem;
			margin-bottom: 1rem;
		}
	}
}

/* Media Queries */
@media only screen and (max-width: 320px) {
	#mainSpecialist {
		.cards--container {
			.card--specialist {
				.specialist {
					.title--psicologia {
						font-size: large;
					}

					.btn--specialist {
						font-size: 70%;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	#mainSpecialist {
		.cards--container {
			.card--specialist {
				.specialist {
					.title--psicologia {
						font-size: large;
					}

					.btn--specialist {
						font-size: 70%;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
	#mainSpecialist {
		.cards--container {
			.card--specialist {
				.specialist {
					.title--psicologia {
						font-size: large;
					}

					.btn--specialist {
						font-size: 70%;
					}
				}
			}
		}
	}
}
