@import "../../variables";
@import "../../mixins";

#mainVideo {
	.vid--container {
		display: flex;
		justify-content: center;
		background: url("img/global/burbuja_3.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		padding: 5rem 0rem;
		height: 28rem;
	}

	.vid--frame {
		border-radius: 1rem;
	}
}
