@import "../../variables";
@import "../../mixins";

#mainWorkUs {
	.work-us--container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		span {
			font-size: xx-large;
			color: $white;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		button {
			background-color: $dark-yellow;
			color: $dark;
			padding: 0.5rem 1rem;
			text-transform: uppercase;
			border: none;
			border-radius: 0.5rem;
			width: 20rem;
			font-weight: bold;
		}
	}
}

@media only screen and (max-width: 320px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
	#mainWorkUs {
		.work-us--container {
			span {
				font-size: xx-large;
			}
		}
	}
}
