@import "../../variables";
@import "../../mixins";

#mainSpecialist--banner {
	display: flex;
	justify-content: center;
	align-items: center;

	.banner--container {
		span {
			font-size: 4rem;
			color: $white;
			font-weight: bold;
		}
	}
}

@include screen-min(425px) {
	#mainSpecialist--banner {

		.banner--container {
			span {
				font-size: 3rem;
			}
		}
	}
}
