@import "../../variables";
@import "../../mixins";

#mainAbout--banner {
	display: flex;
	justify-content: center;
	align-items: center;

	.banner--container {
		span {
			font-size: 4rem;
			color: $white;
			font-weight: bold;
			text-shadow: 1px 1px 2px $dark;
		}
	}
}

@media only screen and (max-width: 320px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: x-large;
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
	#mainVoluntary {
		.voluntary--container {
			span {
				font-size: xx-large;
			}
		}
	}
}
