@import '../../mixins';
@import '../../variables';

.news-container {
	background-color: $white;
	border-radius: 0.5rem;
	width: 100%;
	margin-top: 2rem;
	padding: 3rem;
}

.limit-height {
	height: 10rem;
	overflow-y: scroll;
}
