@import "../../variables";
@import "../../mixins";

#detailPlan--section {

	.planSection--title {
		font-size: 1.5rem;
		width: 100%;
	}

	.card--container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.card--container--son {
			display: flex;
			flex-direction: row;


			#front {
				.promotion--span {
					color: white;
					font-size: 1rem;
					font-weight: bold;
					position: absolute;
					top: 1%;
					left: 6%;
					z-index: 1;
				}

				.card-header {
					font-size: 1rem;
					text-transform: uppercase;
					font-weight: bold;
					padding: 1rem 0rem;
					color: $dark;
					background-color: unset;
				}

				.card-content {
					overflow-y: scroll;
					height: 8rem;
					margin-bottom: 1rem;
					width: 13rem;

					p {
						padding: 0rem 0.5rem;
					}
				}

				.card-footer {

					a {
						color: white;
						text-decoration: none;
						font-size: 1.2rem;
						font-weight: bold;
						text-transform: uppercase;
					}

					background-color: $blue;
					border-radius: 0.5rem;
					animation: pulse-blue 2s infinite;

					&:hover {
						animation: pulse-blue 0.3s infinite;
					}

					@keyframes pulse-blue {
						0% {
							transform: scale(0.95);
							box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
						}

						70% {
							transform: scale(1);
							box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
						}

						100% {
							transform: scale(0.95);
							box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
						}
					}
				}
			}

			#back {
				.card-header {
					padding: 1rem 0rem;
					color: $white;
					background-color: unset;
					text-transform: uppercase;
					font-size: 1rem;
				}

				.card-content {
					overflow-y: scroll;
					height: 8rem;
					margin-bottom: 1rem;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					padding-bottom: 0.5rem;
					width: 13rem;

					a {
						margin: 0.5rem 0.5rem 0 0;

						img {
							height: 3rem;
							width: 3rem;
							border-radius: 50%;
							box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
						}
					}
				}

				.card-footer {

					a {
						color: white;
						text-decoration: none;
						font-size: 1.2rem;
						font-weight: bold;
						text-transform: uppercase;
					}

					background-color: $blue;
					border-radius: 0.5rem;
					animation: pulse-blue 2s infinite;

					&:hover {
						animation: pulse-blue 0.3s infinite;
					}

					@keyframes pulse-blue {
						0% {
							transform: scale(0.95);
							box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
						}

						70% {
							transform: scale(1);
							box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
						}

						100% {
							transform: scale(0.95);
							box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
						}
					}
				}
			}

		}
	}
}


@include screen(320px, 768px) {
	#detailPlan--section {
		.card--container {
			.card--container--son {
				display: flex;
				flex-direction: column;

				#back {
					.card-header {
						font-size: 1.2rem;
					}

					.card-content {
						width: 13rem;
					}
				}
			}

			#front,
			#back {
				.card-content {
					width: 100%;
				}
			}
		}
	}
}


@include screen(769px, 990px) {
	#detailPlan--section {
		.card--container {
			.card--container--son {
				flex-wrap: wrap;

				#front {
					.card-content {
						width: 17rem;
					}
				}

				#back {
					.card-content {
						width: 17rem;
					}
				}
			}
		}
	}
}


@include screen(991px, 1198px) {
	#detailPlan--section {
		.card--container {
			.card--container--son {
				flex-wrap: wrap;

				#front {
					.card-content {
						width: 15rem;
					}
				}

				#back {
					.card-content {
						width: 15rem;
					}
				}
			}
		}
	}
}


@include screen(1199px, 1440px) {
	#detailPlan--section {
		.card--container {
			.card--container--son {
				flex-wrap: wrap;

				#front {
					.card-content {
						width: 12rem;
					}
				}

				#back {
					.card-content {
						width: 12rem;
					}
				}
			}
		}
	}
}
