@import "../../variables";
@import "../../mixins";

#mainWork--section {
	display: flex;
	justify-content: center;

	.div--header--body {
		display: flex;
		flex-direction: column;

		.div--header {
			margin-top: 1rem;
			margin-bottom: 1rem;
			font-weight: bold;
			width: 22rem;
		}

		.div--body {
			margin-top: 1rem;
			margin-bottom: 1rem;
			text-align: left;
			width: 22rem;
			color: $gray-2;
		}
	}

	.div--image {
		margin: 1rem 9rem;
		margin-top: 1rem;
		margin-bottom: 1rem;

		img {
			width: 80%;
			height: auto;
		}
	}
}
