@import "../../variables";
@import "../../mixins";

#mainProfessional--banner {
	display: flex;
	justify-content: center;
	align-items: center;

	.banner--container {
		span {
			font-size: 4rem;
			color: $white;
			font-weight: bold;
		}
	}
}
