@import "../../variables";
@import "../../mixins";

#listProfessional--section {
	width: 13rem;
	margin-bottom: 3rem;


	.listProfessional--card {
		display: flex;
		font-size: 1rem;
		justify-content: center;
		position: relative;

		img {
			height: 100%;
			width: 80%;
		}

		/* .overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 20px;
			right: 0;
			height: 100%;
			width: 81%;
			opacity: 0;
			transition: .5s ease;
			background-color: rgba($blue, 0.7);
			cursor: pointer;
		}

		&:hover {
			.overlay {
				opacity: 1;
			}
		}

		.text {
			color: white;
			font-size: 15px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
		} */

	}

	.div--nameprofessional {
		display: flex;
		justify-content: center;
		text-align: center;

		span {
			color: $dark;
			font-size: 0.8rem;
			margin-top: 5px;
		}
	}

	.button--container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		a {
			font-size: 0.6rem;
			color: $dark;
			font-weight: bold;
			padding: 0.5rem;
			text-transform: uppercase;
			border-radius: 0.5rem;
			border: none;
			margin-top: 0.5rem;
			text-decoration: none;
			cursor: pointer;
		}

		.button--plan {
			background-color: $teal-tiny;
			color: $white;
		}
	}
}

@include screen(320px, 768px) {
	#listProfessional--section {
		.button--listprofessionals {
			display: flex;
		}
	}
}
