@import "../../variables";
@import "../../mixins";

#listProfessional--section {
	width: 21rem;

	.listProfessional--card {
		display: flex;
		font-size: 1rem;

		img {
			border-radius: 0.5rem;
			border-bottom: groove;
			border-color: blue;
			height: 100%;
			width: 100%;
		}

	}

	.div--nameprofessional {
		span {
			color: black;
			font-size: 22px;
			font-family: "Work Sans",
				Arial,
				sans-serif;
			justify-content: center;
			display: flex;
			line-height: 1.8;
		}
	}
}
